<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Luis Henrique</mat-card-title>
        <mat-card-subtitle>
            <button mat-flat-button color="accent">Editar</button>
            <button mat-flat-button color="accent">Historico</button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <p>27/08/2022</p>
            <span>Ultima coisa que foi passada sobre esse Dev</span>
        </div>
        <br />
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Progresso</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">
            Add. progresso
        </button>
    </mat-card-actions>
</mat-card>